{#
  Ответ на любую правку. В цель (#board) идёт превью, остальные панели помечены
  hx-swap-oob и подменяются каждая на своём месте. Страница целиком
  не перерисовывается никогда.
#}
{% include "_board.html" %}
{% include "_history.html" %}
{% include "_generate.html" %}
{% include "_strips.html" %}
{% include "_size.html" %}
{% include "_issues.html" %}
{% include "_model.html" %}
{% include "_workshop.html" %}
{% include "_program.html" %}
{% include "_project.html" %}
{% include "_note.html" %}
